@page "/selection"

<div class="main">
    <h1 style="color: red">Plan Your Vote</h1>
    <div style="margin-bottom: 5%">
        <a style="margin-right: 10px" href="./">Step 1</a>
        <a style="margin-right: 10px" href="./">Step 2</a>
        <a style="margin-right: 10px" href="./">Step 3</a>
        <a style="margin-right: 10px" href="./">Step 4</a>
    </div>
    <div style="margin-bottom: 2%">
        <h2 style="color: red">Step 1: Review and Select Candidates</h2>
        <p>
            Add up to 1 mayor, 10 councillors, 7 Park Board commissioners, and 9 school trustees to your plan.
            Open a candidate to read their profile and add them to your plan. Change your choices in the selected
            candidates area above. A candidate’s profile expresses their views alone and these views aren’t endorsed
            by the City of Vancouver. Profiles are included exactly as candidates wrote them. If you live in the UBC
            Lands or University Endowment Lands, and you do not own property in Vancouver, you can only vote for school
            trustees in the election.
        </p>
    </div>
    <div style="display: flex; flex-direction: 'row'; justify-content: space-between">
        <p>Filter By:</p>
        <select style="width: 70%" name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
    </div>

</div>