@page "/selection/step2"

<div class="main">
    <h1 style="color: red">Plan Your Vote</h1>
    <div style="margin-bottom: 5%">
        <a style="margin-right: 10px" href="./selection/step1">Step 1</a>
        <a style="margin-right: 10px" href="./selection/step2">Step 2</a>
        <a style="margin-right: 10px" href="./selection/step3">Step 3</a>
        <a style="margin-right: 10px" href="./selection/step4">Step 4</a>
    </div>

    <div style="margin-bottom: 2%">
        <h2 style="color: red">Step 2: Review Capital Plan Borrowing Questions</h2>
        <p>
            Add your response to the Capital Plan borrowing questions to your plan. The ballot will have 3 "yes" or "no"
            questions on whether the City can borrow $300 million to help pay for projects in the Capital Plan. The
            2019-2022 Capital Plan invests $300,000,000 in City facilities and infrastructure to provide services to the
            people of Vancouver. If a majority of voters vote yes, then City Council can borrow the funds for these
            projects.
        </p>
    </div>
    <div style="margin-bottom: 2%">
        <h5 style="color: red">TRANSPORTATION AND TECHNOLOGY</h5>
        <p>
            This question seeks authority to borrow funds to be used in carrying out the basic capital works program
            with respect to transportation and technology. Are you in favour of Council having the authority, without
            further assent of the electors, to pass bylaws between January 1, 2019, and December 31, 2022, to borrow an
            aggregate $100,353,000 for the following purposes?
        </p>
        <input type="radio" name="Transportation" value="Yes">
        <label for="Yes">Yes</label><br>
        <input type="radio" name="Transportation" value="No">
        <label for="No">No</label><br>
    </div>
    <div style="margin-bottom: 2%">
        <h5 style="color: red">CAPITAL MAINTENANCE AND RENOVATION PROGRAMS FOR EXISTING COMMUNITY FACILITIES, CIVIC
            FACILITIES, AND PARKS</h5>
        <p>
            This question seeks authority to borrow funds to be used in carrying out the basic capital works program
            with respect to capital maintenance and renovation programs for existing community facilities, civic
            facilities, and parks. Are you in favour of Council having the authority, without further assent of the
            electors, to pass bylaws between January 1, 2019, and December 31, 2022, to borrow an aggregate $99,557,000
            for the following purposes?
        </p>
        <input type="radio" name="Maintenance" value="Yes">
        <label for="Yes">Yes</label><br>
        <input type="radio" name="Maintenance" value="No">
        <label for="No">No</label><br>
    </div>
</div>