@page "/selection/step4"

<div class="main">
    <h1 style="color: red">Plan Your Vote</h1>
    <div style="margin-bottom: 5%">
        <a style="margin-right: 10px" href="./selection/step1">Step 1</a>
        <a style="margin-right: 10px" href="./selection/step2">Step 2</a>
        <a style="margin-right: 10px" href="./selection/step3">Step 3</a>
        <a style="margin-right: 10px" href="./selection/step4">Step 4</a>
    </div>

    <h1 style="color: red"></h1>

    <div style="margin-bottom: 6%">
        <h2 style="color: red">Step 4: Review Your Plan</h2>
    </div>
    <div style="margin-bottom: 3%">
        <h3 style="color: red; font-size:20px;">Your Choices For Mayor</h3>
        <table style="width:100%; height: 50px; border-top: 1px solid #CDCDCD; border-bottom: 2px solid #CDCDCD;">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Picture</th>
                <th>Biography</th>
                <th></th>
            </tr>
            
        </table>
    </div>
    <div style="margin-bottom: 3%">
        <h3 style="color: red; font-size:20px;">Your Choices For Councillor</h3>
        <table style="width:100%; height: 50px; border-top: 1px solid #CDCDCD; border-bottom: 2px solid #CDCDCD;">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Picture</th>
                <th>Biography</th>
                <th></th>
            </tr>
        </table>
    </div>
    <div style="margin-bottom: 3%">
        <h3 style="color: red; font-size:20px;">Your Choices For Park Commisioner</h3>
        <table style="width:100%; height: 50px; border-top: 1px solid #CDCDCD; border-bottom: 2px solid #CDCDCD;">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Picture</th>
                <th>Biography</th>
                <th></th>
            </tr>
        </table>
    </div>
    <div style="margin-bottom: 3%">
        <h3 style="color: red; font-size:20px;">Your Choices For School Trustee</h3>
        <table style="width:100%; height: 50px; border-top: 1px solid #CDCDCD; border-bottom: 2px solid #CDCDCD;">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Picture</th>
                <th>Biography</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>