@page "/selection/step3"

<div class="main">
    <h1 style="color: red">Plan Your Vote</h1>
    <div style="margin-bottom: 5%">
        <a style="margin-right: 10px" href="./selection/step1">Step 1</a>
        <a style="margin-right: 10px" href="./selection/step2">Step 2</a>
        <a style="margin-right: 10px" href="./selection/step3">Step 3</a>
        <a style="margin-right: 10px" href="./selection/step4">Step 4</a>
    </div>

    <div style="margin-bottom: 2%">
        <h2 style="color: red">Step 3: Choose Your Voting Date and Location</h2>
        <p>
            Not sure when you want to vote yet? Don't worry - you're not committing to a particular day or place. If you
            live in the UBC Lands or University Endowment Lands, you can vote at 2 voting places only on October 20
            Opens in new window. These 2 places are not shown on the map below. Skip this step to review your choices
            and create your plan.
        </p>
    </div>
</div>