@inherits LayoutComponentBase

<div class="main" style="padding-left: 20%; padding-right: 20%">
    <div class="top-row px-4 auth" style="width: 100%;">
        <NavBar />
    </div>
    <div class="content px-4">
        @Body
    </div>
    <Footer />
</div>
