@inherits LayoutComponentBase

<div class="main" style="padding-left: 15%; padding-right: 15%">
    <div class="top-row px-5 auth" style="width: 100%;">
        <NavBar />
    </div>
    <div class="content px-5">
        @Body
    </div>
    <Footer />
</div>
